.stacker {
    text-align: center;
    font-family: monospace;
}

.score {
    font-family:'Franklin Gothic Medium';
    text-align: center;
}

.retry {
    color: white;
    text-decoration: none;
}

.info {
	font-family: sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}